.wysiwyg-text {
  display: block;
}

.content a {
  color: $white;
  text-decoration: underline;
}

.content h1 {
  font-size: $size-1;
}

.content h2 {
  font-size: $size-2;
}

.content h3 {
  font-size: $size-3;
}

.content h4 {
  font-size: $size-4;
}

.navbar.is-fixed-top {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
}

.navbar-brand {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: $size-2;
  }

  .navbar.is-fixed-top {
    background-color: rgba(0, 0, 0, 0.4);
    height: auto;
  }

  .content h2 {
    font-size: $size-3;
  }
}

@media screen and (max-width: 512px) {
  .content h1 {
    font-size: $size-3;
  }
  .content h2 {
    font-size: $size-3;
  }
}

.content.is-large {
  font-size: 1.5rem;
}

.content.is-medium {
  font-size: 1.2rem;
}

.content.is-small {
  font-size: 0.8rem;
}
